*{
    box-sizing: border-box;
}

#design1{
    background-color: coral;
}
.nav-item span{
    color: aliceblue;
}

h2{
    margin-top: 20px;
}

hr {
	border-top: 1px solid saddlebrown;
	margin: 0px;
}
#design3 {
    margin-top: 40px;
    padding: 30px;
}

.paragraph{
    background-color: palevioletred;
    height: 1000px;
    color: antiquewhite;
}

h5 {
    color: darkred;
    margin-top: 30px;
}